################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnglishNow.Web/.vs/EnglishNow.Web
/EnglishNow.Web/EnglishNow.Web/bin
/EnglishNow.Web/EnglishNow.Web/obj
/EnglishNow.Web/EnglishNow.Web/EnglishNow.Web.csproj.user
/src/.vs
/src/EnglishNow.Web/bin/Debug/net8.0
/src/EnglishNow.Web/obj
/src/EnglishNow.Web/EnglishNow.Web.csproj.user
